body{
    background-color: darkgray;
    text-align: center;
}

.btn{
    cursor: pointer;
}

h1{
    transition: color 0.5s ease-in-out;
    text-align: top;
}

.js-clock{
    font-size: 40px;
}

.js-form{
    display: none;
}
